body {
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  background: rgb(253, 253, 253);
  font-family: sans-serif;
  /* Прячем ползунки */
  overflow: hidden;
}

.TopBlock{
  position: absolute;
  left: 40%;
  right: 40%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Clock {
  margin: auto;
  text-align: center;
  font-size: calc(12px + 3vw + 2vh);
}

.CurDate{
  margin: auto;
  text-align: center;
  font-size: calc(10px + 0.5vw + 0.3vh);
}
body {
  color: white;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  font-family: sans-serif;
  /* Прячем ползунки */
  overflow: hidden;
}

.TopBlock{
  position: absolute;
  left: 40%;
  right: 40%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Clock {
  margin: auto;
  text-align: center;
  font-size: calc(12px + 3vw + 2vh);
}

.CurDate{
  margin: auto;
  text-align: center;
  font-size: calc(10px + 0.5vw + 0.3vh);
}
